@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 2.2rem;
  color: #000;
  font-family: "Rubik Glitch", cursive;
}
.navbar-brand:hover {
  color: #FF4821;
  transition: 0.3s;
}

.nav-link {
  font-size: 1.1rem;
  margin: 0px 10px 0px 10px;
  color: #000;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
}
.nav-link:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  transition: 0.4s;
}

.buscar {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  outline: none;
  margin-right: -35px;
  border: 2px solid #FF4821;
  font-family: "Titillium Web", sans-serif;
}

.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background-color: #FF4821;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  font-family: "Titillium Web", sans-serif;
}
.btn0:hover {
  background-color: #CC3D1F;
}

.mainI {
  background: url(../assets/img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}
.mainI h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000;
  border-radius: 20px;
  text-align: center;
  padding-top: 80px;
}
.mainI .btn1 {
  height: 45px;
  width: 35%;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #FF4821;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.mainI .btn1:hover {
  background-color: #CC3D1F;
  transform: scale(1.05);
}

.mainP h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Titillium Web", sans-serif;
}
.mainP p {
  text-align: center;
  font-size: 25px;
  color: #CC3D1F;
}

section {
  font-family: "Titillium Web", sans-serif;
}
section h2 {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
}

.card {
  font-family: "Titillium Web", sans-serif;
}
.card:hover {
  box-shadow: 2px 0px 7px 2px rgba(0, 0, 0, 0.7490196078);
  -webkit-box-shadow: 2px 0px 7px 2px rgba(0, 0, 0, 0.7490196078);
  -moz-box-shadow: 2px 0px 7px 2px rgba(0, 0, 0, 0.7490196078);
  transition: 0.4s;
}

.mainC {
  font-family: "Titillium Web", sans-serif;
}
.mainC h1 {
  text-align: center;
  margin-top: 30px;
}
.mainC p {
  text-align: center;
  font-size: 25px;
  color: #CC3D1F;
}

.contacto {
  font-family: "Titillium Web", sans-serif;
}
.contacto .btn2 {
  height: 45px;
  width: 35%;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #FF4821;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  font-family: "Titillium Web", sans-serif;
  margin-top: 20px;
}
.contacto .btn2:hover {
  background-color: #CC3D1F;
  transition: 0.3s;
  transform: scale(1.05);
}
.contacto .formulario {
  font-family: "Titillium Web", sans-serif;
  margin: 15px;
}
.contacto .iconosRedes {
  font-family: "Titillium Web", sans-serif;
}
.contacto .iconosRedes ul li a {
  color: #000;
  float: left;
  font-size: 40px;
  margin-left: 35px;
  margin-right: 40px;
}
.contacto .iconosRedes ul li a:hover {
  transform: scale(1.35);
  transition: 0.4s;
}
.contacto .info {
  margin-top: 35px;
}

.mainN {
  font-family: "Titillium Web", sans-serif;
}
.mainN h2 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 400;
  margin: 10px;
  font-family: "Titillium Web", sans-serif;
}
.mainN p {
  font-size: 18px;
  margin: 10px;
  font-family: "Titillium Web", sans-serif;
}
.mainN .nosotros {
  border-radius: 5px;
  margin: 10px;
}
.mainN .nosotros:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

footer {
  font-family: "Titillium Web", sans-serif;
  background-color: #000;
}
footer .logo {
  font-size: 2.2rem;
  color: #fff;
  font-family: "Rubik Glitch", cursive;
}
footer .logo:hover {
  color: #FF4821;
  transition: 0.3s;
}
footer .titulitos {
  font-size: 25px;
  color: #fff;
  text-decoration: underline;
}
footer .links {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
}
footer .links:hover {
  color: #FF4821;
  transition: 0.3s;
}
footer ul li a {
  font-size: 35px;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}
footer ul li a:hover {
  color: #FF4821;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
