@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// inicio navbar
.navbar-brand {
    font-size: 2.2rem;
    color: #000000;
    font-family: 'Rubik Glitch', cursive;

    &:hover {
        color: #f81a5c;
        transition: 0.3s;
        font-size: 2.4rem;
    }
}

.nav-link {
    font-size: 1.1rem;
    margin: 0px 10px 0px 10px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;

    &:hover {
        background-color: #000000;
        color: #ffffff;
        border: 2px solid #000000;
        transition: 0.4s;
    }

}

.buscar {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    margin-right: -35px;
    border: 2px solid #f81a5c;
    font-family: 'Titillium Web', sans-serif;
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: #f81a5c;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;

    &:hover {
        background-color: #a81440;
    }
}
// fin navbar

// inicio main "index"
.mainI {
    background: url(../assets/img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;

    h1 {
        font-size: 3.2rem;
        font-weight: 700;
        color: #000000;
        border-radius: 20px;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        padding-top: 80px;
    }

    .btn1 {
        height: 45px;
        width: 35%;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: #f81a5c;
        color: #ffffff;
        font-weight: 700;
        border-radius: 5px;
        font-family: 'Titillium Web', sans-serif;

        &:hover {
            background-color: #a81440;
            transform: scale(1.05);
        }
    }
}
// fin main "index"

// inicio main "productos"
.mainP {
    h1 {
        text-align: center;
        margin-top: 30px;
    }

    p {
        text-align: center;
        font-size: 25px;
        color: #a81440;
    }
}
// fin main "productos"

// inicio section "productos"
.card {
    &:hover {
        box-shadow: 2px 0px 7px 2px #000000bf;
        -webkit-box-shadow: 2px 0px 7px 2px #000000bf;
        -moz-box-shadow: 2px 0px 7px 2px #000000bf;
        transition: 0.4s;
    }
}
// fin section "productos"

// inicio main "contacto"
.mainC {
    h1 {
        text-align: center;
        margin-top: 30px;
    }

    p {
        text-align: center;
        font-size: 25px;
        color: #a81440;
    }
}

.contacto {
    .btn2 {
        height: 45px;
        width: 35%;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: #f81a5c;
        color: #ffffff;
        font-weight: 700;
        border-radius: 5px;
        font-family: 'Titillium Web', sans-serif;
        margin-top: 20px;

        &:hover {
            background-color: #a81440;
            transition: 0.3s;
            transform: scale(1.05);
        }
    }

    .formulario {
        margin: 15px;
    }

    .iconosRedes {
        ul li a {
            color: #000000;
            float: left;
            font-size: 40px;
            margin-left: 35px;
            margin-right: 40px;

            &:hover {
                transform: scale(1.35);
                transition: 0.4s;
            }
        }
    }

    .info {
        margin-top: 35px;
    }
}
// fin main "contacto"

// main-section "nosotros"
.mainN {

    h2 {
        font-size: 20px;
        margin-bottom: 25px;
        font-weight: 400;
        margin: 10px;
    }

    p {
        font-size: 18px;
        margin: 10px;
    }

    .nosotros {
        border-radius: 5px;
        margin: 10px;

        &:hover {
            transform: scale(1.10);
            transition: 0.5s;
        }
    }
}
// fin main-section "nosotros"

// inicio footer
footer {
    background-color: #000000;

    .logo {
        font-size: 2.2rem;
        color: #ffffff;
        font-family: 'Rubik Glitch', cursive;

        &:hover {
            color: #f81a5c;
            transition: 0.3s;
            font-size: 2.4rem;
        }
    }

    .titulitos {
        font-size: 25px;
        color: #ffffff;
        text-decoration: underline;
    }

    .links {
        font-size: 15px;
        margin: 0px 10px 0px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;
        text-decoration: none;

        &:hover {
            color: #f81a5c;
            transition: 0.3s;
        }
    }

    ul li a {
        font-size: 35px;
        color: #ffffff;
        margin-left: 20px;
        margin-right: 20px;

        &:hover {
            color: #f81a5c;
            transition: 0.3s;
        }
    }
}
// fin footer